<div class="scoreboard">
  <span>Players</span>
  <table>
    <% game.ordered_players.each do |player| %>
      <%= tag.tr(class: player_classes(player), data: {player_id: player.id}) do %>
        <td><span class="name"><%= player.name %></span></td>
        <td><span class="score"><%= player.score %></span></td>
        <% next unless current_player.can_kick?(player) %>
        <td>
          <%= link_to(kick_player_path(game.join_code, player.id), method: :post) do %>
            <%= octicon("circle-slash", class: "click-icon") %>
          <% end %>
        </td>
      <% end %>
    <% end %>
  </table>
</div>
