<div id="game">
  <div class="main">
    <div id="options"><%= render "options", game: @game %></div>
    <div id="template"><%= render "template", game: @game if @game.playing %></div>
    <div id="memes"><%= render "memes", game: @game %></div>
  </div>

  <div class="sidebar">
    <div id="scoreboard"><%= render "scoreboard", game: @game %></div>
  </div>

  <div class="bottom">
    <div id="hand"><%= render "hand", game: @game %></div>
  </div>
</div>
