<div id="game">
  <div class="head">
    <span class="title">Memes Against Humanity</span>
    <%= button_to("Leave", player_path(@game.join_code, current_player.id), method: :delete) %>
    <%= button_to("Stop game", stop_game_path(@game.join_code)) if current_player.master? %>
  </div>

  <div class="main">
    <div id="options"><%= render "options", game: @game %></div>
    <div id="main"><%= render "main", game: @game %></div>
  </div>

  <div class="sidebar">
    <div id="scoreboard"><%= render "scoreboard", game: @game %></div>

    <div id="messages">
      <div class="messages"><%= render @game.messages %></div>
    </div>
    <input id="chatbox" type="text" placeholder="Send a message...">

    <div id="buttons"><%= render "buttons", game: @game %></div>
  </div>

  <div class="bottom">
    <div id="hand"><%= render "hand", game: @game %></div>
  </div>
</div>
